"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-clang":
    includeSystemHeadersDocumentation: true
  core:
    disabledPackages: [
      "symbols-view"
    ]
    fileEncoding: "gbk"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "monaco"
    fontSize: 18
  "exception-reporting":
    userId: "210fd886-7041-7380-8fda-8a8d0cf727a1"
  "file-icons": {}
  "linter-gcc":
    gccIncludePaths: " /usr/include/c++/4.2.1"
  minimap:
    absoluteMode: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
