"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-clang":
    includeSystemHeadersDocumentation: true
  core:
    disabledPackages: [
      "symbols-view"
    ]
    fileEncoding: "gbk"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "monaco"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 100
    tabType: "hard"
  "exception-reporting":
    userId: "210fd886-7041-7380-8fda-8a8d0cf727a1"
  "file-icons": {}
  "linter-gcc":
    execPath: "/usr/local/bin/g++-4.9"
    gccIncludePaths: "/usr/local/include/c++/4.9.3/*"
  minimap:
    absoluteMode: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
