"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-clang":
    includeSystemHeadersDocumentation: true
  "autocomplete-python":
    pythonPaths: "usr/bin/python"
  core:
    disabledPackages: [
      "symbols-view"
    ]
    fileEncoding: "gbk"
  editor:
    fontFamily: "monaco"
    fontSize: 16
    invisibles:
      eol: " "
      tab: " "
    showInvisibles: true
  "exception-reporting":
    userId: "210fd886-7041-7380-8fda-8a8d0cf727a1"
  "file-icons": {}
  "linter-gcc":
    execPath: "/usr/local/bin/g++-4.9"
    gccIncludePaths: "/usr/local/include/c++/4.9.3"
  minimap:
    absoluteMode: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    preferredLineLength: 100
".python.regexp.source":
  editor:
    preferredLineLength: 100
".python.source":
  editor:
    preferredLineLength: 100
".python.text.traceback":
  editor:
    preferredLineLength: 100
